<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd">
 
    <!-- ProductiveEMF -->
	<bean id="emf"
	    class="amtc.gue.ws.books.persistence.ProductiveEMF">
	</bean>
	
	<!-- TestEMF -->
	<bean id="testEmf"
	    class="amtc.gue.ws.books.persistence.TestEMF">
	</bean>
    
    <!-- BookPersistenceDelegator -->
	<bean id="bookPersistenceDelegator" 
	    class="amtc.gue.ws.books.delegate.persist.BookPersistenceDelegator">
	</bean>
	
	<!-- PersistenceDelegatorInput -->
	<bean id="persistenceDelegatorInput" 
	    class="amtc.gue.ws.books.delegate.persist.input.PersistenceDelegatorInput">
	</bean>
	
	<!-- PersistenceDelegatorOutput -->
	<bean id="persistenceDelegatorOutput" 
	    class="amtc.gue.ws.books.delegate.persist.output.PersistenceDelegatorOutput">
	</bean>
	
	<!-- BookEntityDAOImpl -->
	<bean id="bookEntityDAOImpl"
	    class="amtc.gue.ws.books.persistence.dao.impl.BookEntityDAOImpl">
	    
	    <!-- emf instance used as constructor input -->
	    <constructor-arg>
	        <ref bean="emf" />
	    </constructor-arg>
	</bean>
	
	<!-- BookEntityDAOTestImpl for Testing -->
	<bean id="bookEntityTestDAOImpl"
	    class="amtc.gue.ws.books.persistence.dao.impl.BookEntityDAOImpl">
	    
	    <!-- emf instance used as constructor input -->
	    <constructor-arg>
	        <ref bean="testEmf" />
	    </constructor-arg>
	</bean>
 
</beans>