<?xml version="1.0" encoding="UTF-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<!-- REST Configuration using UiversalServiceServlet -->

	<display-name>REST Application</display-name>
	<servlet>
		<servlet-name>Jersey REST Service</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<!-- Register JAX-RS Application, if needed -->
		<!-- <init-param> -->
		<!-- <param-name>javax.ws.rs.Application</param-name> -->
		<!-- <param-value>amtc.gue.ws.service.RestApplication</param-value> -->
		<!-- </init-param> -->
		<!-- Register resources and providers under amtc.gue.ws.service -->
		<init-param>
			<param-name>jersey.config.server.provider.packages</param-name>
			<param-value>
			    amtc.gue.ws
			</param-value>
		</init-param>
		<!-- Enable Tracing support. -->
		<init-param>
			<param-name>jersey.config.server.tracing</param-name>
			<param-value>ALL</param-value>
		</init-param>
		<init-param>
			<param-name>jersey.config.server.provider.classnames</param-name>
			<param-value>
            org.glassfish.jersey.server.gae.GaeFeature;
         </param-value>
		</init-param>
		<!-- OLD -->
		<!-- <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class> -->
		<!-- Register resources and providers under amtc.gue.ws package. -->
		<!-- <init-param> -->
		<!-- <param-name>com.sun.jersey.config.property.packages</param-name> -->
		<!-- <param-value>amtc.gue.ws.service</param-value> -->
		<!-- </init-param> -->
		<!-- <init-param> -->
		<!-- <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name> -->
		<!-- <param-value>true</param-value> -->
		<!-- </init-param> -->
		<!-- NEW -->
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>Jersey REST Service</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>ObjectifyFilter</filter-name>
		<filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ObjectifyFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- <filter> -->
	<!-- <filter-name>CORS</filter-name> -->
	<!-- <filter-class>amtc.gue.ws.base.service.rest.CORSFilter</filter-class> -->
	<!-- </filter> -->
	<!-- <filter-mapping> -->
	<!-- <filter-name>CORS</filter-name> -->
	<!-- <url-pattern>/*</url-pattern> -->
	<!-- </filter-mapping> -->

	<!-- SOAP Configuration using HelloWorldServlet -->
	<!-- <servlet> -->
	<!-- <servlet-name>HelloWorldServlet</servlet-name> -->
	<!-- <servlet-class>amtc.gue.ws.HelloWorldServlet</servlet-class> -->
	<!-- </servlet> -->
	<!-- <servlet> -->
	<!-- <servlet-name>BookCalcServlet</servlet-name> -->
	<!-- <servlet-class>amtc.gue.ws.service.soap.BookCalcServlet</servlet-class> -->
	<!-- </servlet> -->

	<!-- Mapping for the actual BookCalcWSDL -->
	<!-- <servlet-mapping> -->
	<!-- <servlet-name>BookCalcServlet</servlet-name> -->
	<!-- <url-pattern>/BookServiceService</url-pattern> -->
	<!-- </servlet-mapping> -->
</web-app>